*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    
}
nav{
    min-height: 60px;
    max-width: 1400px;
    min-width: 370px;
    margin: auto;
    /* padding: 2rem 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
}
.nav-logo img{
    width: 4rem;
    margin-right: 0.5rem;
}
.title{
    font-size: 3rem;
    font-weight: 700;
}
.nav-logo span{
    color: #FF42A5;
}
.menu-container{
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
}
.menu-container a{
    text-decoration: none;
    color: #3C354F;
}
.nav-icons{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 5px;
    background-color: #E7E6E9;
    border-radius: 5px;
}
.fa-brands{
    font-size: 2rem;
}
.fa-youtube{
    color: red;
}
/* nav section style done */

/* banner section starts here */
.banner{
    max-width: 1400px;
    min-width: 370px;
    height: auto;
    margin: auto;
    background-image: linear-gradient(to right,#fcf1fc,white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "text-part image-part";
    align-items: center;
    padding: 0px 1rem;
}
.banner-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: text-part;
    padding: 1rem;
}
.banner-text title{
    font-weight: 600;
}
.transparent-color{
    background-image: linear-gradient(to top,#A254E2,#FF42A5);
    color: transparent;
    -webkit-background-clip: text;
}
.goat{
    font-size: 6rem;
    font-weight: 800;
}
.banner-text p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #534C64;
}
.fa-circle-play,.fa-download{
    color: red;
}
.fa-user-group{
    color: black;
}
.primary-btn{
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    padding: 0.8rem;
    border: 0px;
    cursor: pointer;
    color: white;
}
.btn-container{
    display: flex;
    gap: 3rem;
}
.sign-in{
    width: 7rem;
    background-color: #FF42A5;
}
.go-rogue{
    width: 9rem;
    background-color: #4EC5F7;
}
.banner img{
    height: 75vh;
    width: 95%;
    grid-area: image-part;
}
.banner .title{
    font-weight: 600;
}

/* banner section ends here */
/* gamer section starts here */

.gamer{
    max-width: 1400px;
    min-width: 370px;
    display: flex;
    align-items: center;
    background-color: #FFF9FC;
    margin: auto;
}
.gamer-image{
    width: 60%;
}
.gamer-image img{
    width: 100%;
}
.gamer-text{
    width: 40%;
    text-align: right;
}
.gamer-title{
    margin-bottom: 1rem;
}
.para{
    font-size: 1.2rem;
    color: #534C64;
}
.know-more{
    background-color: #FF42A5;
    width: 30%;
    margin: 1rem 0px;
}
.mini-title{
    font-size: 1.8rem;
    font-weight: 700;
}
.gamer-text .para{
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

/* gamer section ends here */
/* video section starts here */
.videos{
    max-width: 1400px;
    min-width: 370px;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.videos-text-part{
    max-width: 680px;
    text-align: center;
}
.videos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.videos-container div{
    width: 20%;
}
.videos-container img{
    width: 100%;
}
.videos-container img:hover{

}